## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [16]:
sample_list_1 = (random.sample(range(1,100),80))
len(set(sample_list_1)) #check if each value is unique

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [30]:
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [27]:
sample_list_2 = []
for i in range(80):
    rand_int = random.randint(0,100)
    sample_list_2.append(rand_int)

sample_list_2

[95,
 21,
 4,
 63,
 50,
 95,
 17,
 53,
 98,
 31,
 72,
 58,
 37,
 45,
 21,
 31,
 44,
 2,
 40,
 16,
 95,
 49,
 23,
 86,
 28,
 22,
 99,
 17,
 95,
 36,
 13,
 71,
 89,
 35,
 85,
 47,
 54,
 42,
 1,
 48,
 27,
 100,
 62,
 72,
 18,
 30,
 93,
 43,
 37,
 60,
 61,
 7,
 53,
 27,
 42,
 58,
 24,
 13,
 95,
 3,
 69,
 94,
 9,
 13,
 7,
 55,
 43,
 41,
 69,
 6,
 32,
 8,
 100,
 81,
 0,
 29,
 69,
 33,
 2,
 18]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [31]:
set2 = set(sample_list_2)
len(set2)
#No the results are random

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [32]:
set3 = set1 - set2
set3

{5,
 11,
 12,
 14,
 15,
 19,
 25,
 26,
 34,
 39,
 46,
 52,
 56,
 57,
 59,
 65,
 66,
 67,
 70,
 73,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 84,
 88,
 90,
 92,
 96,
 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [34]:
set4 = set2 - set1
set4

{0, 6, 22, 23, 30, 45, 47, 55, 60, 86, 100}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [40]:
set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [70]:
len(set1) + len(set2) == len(set3) + len(set4) + len(set5)

False

#### Create an empty set called `set6`.

In [46]:
set6 = set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [48]:
set6.update(set3,set5)
set6

{1,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 44,
 46,
 48,
 49,
 50,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 65,
 66,
 67,
 69,
 70,
 71,
 72,
 73,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

#### Check if `set1` and `set6` are equal.

In [49]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [54]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [60]:
set345 = set3.union(set4,set5)
set12 = set1.union(set2)
set345 == set12

True

#### Using the `pop` method, remove the first element from `set1`.

In [66]:
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [69]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)

{2, 3, 4, 5, 7, 8, 12, 13, 14, 15, 16, 17, 18, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 40, 42, 43, 44, 46, 48, 50, 52, 53, 54, 56, 57, 58, 62, 63, 65, 66, 67, 70, 72, 73, 76, 77, 78, 80, 82, 83, 84, 85, 88, 90, 92, 93, 94, 95, 96, 97, 98}